
:root{
  --red: #E50914;
  --black: #141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Base Elements */
body{
  background: var(--black);
  font-family: 'Arial';
  color: white
}

/* Responsividade minima */
.container {
  width: 100%;
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* Fim responsividade */


header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {  
  margin: 10px 0;
}

.logo img{
  max-height: 30px;
}

header nav a{
  text-decoration: none;
  color: #AAA;
  margin-right: 10px
}

header nav a:hover{
  color: #FFF;
}

/* Movies Elements */

.main-movie{
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/poster.jpg');
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .description{
  margin-top: 10px;
  margin-bottom: 40px;
}

.main-movie .title{
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.buttons{
  background-color: rgba(0,0,0,.50);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: .3s ease all;
}

.buttons:hover{
  background-color: white;
  color: black;
}

.buttons i{
  margin-right: 8px;
}

.movie-box{
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.movie-box:hover{
  height: 130%;
  width: 130%;
}

.section-filmes{
  margin: 20px 0;
}

.section-filmes .titulo{
  font-size: 1.2rem;
  font-weight: 600;
  margin: .3rem 0;
}

.original-netflix{
  position: absolute;
  display: block;
  background: url('../img/logo_original_netflix.png') no-repeat;
  width: 20px;
  height: 40px;
  top: 5px;
  left: 5px;
}

